@use '@angular/material' as mat;

@include mat.core();

// gama de colores
$md-mcgpalette0: (
    50 : #e0e6ec,
    100 : #b3c0cf,
    200 : #8097af,
    300 : #4d6d8f,
    400 : #264d77,
    500 : #002e5f,
    600 : #002957,
    700 : #00234d,
    800 : #001d43,
    900 : #001232,
    A100 : #6a8cff,
    A200 : #3765ff,
    A400 : #043eff,
    A700 : #0035ea,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$my-primary-color :(
  50 : #e2e6ec,
    100 : #b7c2cf,
    200 : #8799af,
    300 : #57708e,
    400 : #335176,
    500 : #0f325e,
    600 : #0d2d56,
    700 : #0b264c,
    800 : #081f42,
    900 : #041331,
    A100 : #6991ff,
    A200 : #366bff,
    A400 : #0346ff,
    A700 : #003ee9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$my-accent-color:(
  50 : #e4f6f3,
  100 : #bbe8e0,
  200 : #8ed8cc,
  300 : #61c8b7,
  400 : #3fbda7,
  500 : #1db198,
  600 : #1aaa90,
  700 : #15a185,
  800 : #11987b,
  900 : #0a886a,
  A100 : #b7ffec,
  A200 : #84ffde,
  A400 : #51ffd0,
  A700 : #37ffc9,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$my-warn-color:(
  50 : #fbe9e9,
  100 : #f6c7c7,
  200 : #f0a2a2,
  300 : #ea7c7c,
  400 : #e66060,
  500 : #e14444,
  600 : #dd3e3e,
  700 : #d93535,
  800 : #d52d2d,
  900 : #cd1f1f,
  A100 : #ffffff,
  A200 : #ffd1d1,
  A400 : #ff9e9e,
  A700 : #ff8585,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

// definición de paleta
// $my-primary-color: mat.define-palette($my-primary-color,400,800);
$my-primary-color: mat.define-palette($md-mcgpalette0);
$my-accent-color: mat.define-palette($my-accent-color,600);
$my-warn-color: mat.define-palette($my-warn-color,500, 900);

// definición del tema
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary-color,
    accent: $my-accent-color,
    warn: $my-warn-color,
  )
));

// $my-primary-color1: mat.define-palette($my-primary-color);
// $my-accent-color1: mat.define-palette($my-accent-color,600);
// $my-warn-color1: mat.define-palette($my-warn-color,600);

// // definición del tema
// $my-snack-theme: mat.define-light-theme((
//   color: (
//     primary: $my-primary-color,
//     accent: $my-accent-color,
//     warn: $my-warn-color,
//   )
// ));
// aplicando el tema globalmente
@include mat.all-component-themes($my-theme);
//@include mat.snack-bar-theme($my-snack-theme);

.warn-1 {
  background-color: #cd1f1f;
  color: #ffffff;
}

.primary-200 {
  background-color: #8097af;
  color: #000000;
}

.primary-400 {
  background-color: #264d77;
  color: #ffffff;
}

.primary-A100 {
  background-color: #6a8cff;
  color: #000000;
}

// Spinner
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0f325e;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
// .lds-grid div:nth-child(1) {
//   top: 8px;
//   left: 8px;
//   animation-delay: 0s;
// }
// .lds-grid div:nth-child(2) {
//   top: 8px;
//   left: 32px;
//   animation-delay: -0.4s;
// }
// .lds-grid div:nth-child(3) {
//   top: 8px;
//   left: 56px;
//   animation-delay: -0.8s;
// }
// .lds-grid div:nth-child(4) {
//   top: 32px;
//   left: 8px;
//   animation-delay: -0.4s;
// }
// .lds-grid div:nth-child(5) {
//   top: 32px;
//   left: 32px;
//   animation-delay: -0.8s;
// }
// .lds-grid div:nth-child(6) {
//   top: 32px;
//   left: 56px;
//   animation-delay: -1.2s;
// }
// .lds-grid div:nth-child(7) {
//   top: 56px;
//   left: 8px;
//   animation-delay: -0.8s;
// }
// .lds-grid div:nth-child(8) {
//   top: 56px;
//   left: 32px;
//   animation-delay: -1.2s;
// }
// .lds-grid div:nth-child(9) {
//   top: 56px;
//   left: 56px;
//   animation-delay: -1.6s;
// }
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

// Controles dataTable
#linea {
  display: inline-block;
}

// footer
.center {
  display: flex;
  justify-content: space-between;
}
